* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0px;
}

.header, .footer, .reset, .slider, .dropdown {
    background-color: #3776db;
}

.page {

    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

.header {
    color: antiquewhite;
    padding: .5em 1em;
    font-size: 36px;

}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.controls {
    justify-self: flex-start;
    margin-left: 2em;
    align-self: center;
    align-content: center;
    flex: 1 1 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    height: 40vw;
    width: 40vw;
    border: 1px solid black;
}

.gridItem {
    flex: 1 1 auto;
    border: 1px solid lightgray;
    background-color: rgb(255, 255, 255);
}

.row {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

 .box-on {
    background-color: black;
    border-color: black;
}

.reset {
    margin-top: 2em;
    font-size: 24px;
    border: 1px solid #465368;
    border-radius: 10px;
    padding: .5em 3em;
    color: antiquewhite;
    box-shadow: 1px 1px 2px black;
    transition: 0.35s ;
}

.reset:hover, .slider:hover, .dropdown:hover{
    scale: 1.05;
}

.slider {
    appearance: none;
    width: 90%;
    transition: 0.35s;
}

.footer {
    text-align: center;
    padding: .5em 3em;
    color: antiquewhite;
    justify-self: flex-end;
}

.dropdown {
    margin-bottom: 2em;
    font-size: 24px;
    border: 1px solid #465368;
    border-radius: 10px;
    padding: .5em 3em;
    color: antiquewhite;
    box-shadow: 1px 1px 2px black;
    transition: 0.35s ;
}